[submodule "extern/slang"]
	path = extern/slang
	url = https://github.com/MikePopoloski/slang
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11/
[submodule "extern/vcd"]
	path = extern/vcd
	url = https://github.com/Kuree/vcd
[submodule "extern/lz"]
	path = extern/lz
	url = https://github.com/Kuree/lz
